h1, p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: none;
    font-weight: bold;
}